{
    "port": 3000,
    "mongodb": "mongodb://localhost:27017/UVoteJ",
    "auth": "dummy",
    "auth_admins": [
        "root"
    ],
    "auth_idProperty": "name",
    "auth_config": {
        "nameField": "name"
    }
}
