<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>UVoteJ - Voting - Login</title>

    <!-- Bootstrap core CSS -->
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/lib/bootstrap/custom/vote.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container" id="login">
        <div class="row">
            <form class="form-login" role="form" method="POST" action="/vote/{{= it.name }}/login">
                <h2 class="form-login-heading">Please login to vote. </h2>
                {{? it.message }}
                <div>
                    <div class="alert alert-danger" role="alert">{{= it.message }}</div>
                </div>
                {{?}}
                <input type="text" name="user" id="login-username" class="form-control" placeholder="Username" autofocus="" autocomplete="off">
                <input type="password" name="pass" id="login-password" class="form-control" placeholder="Password">
                <input type="submit" class="btn btn-lg btn-primary btn-block" value="Login">
            </form>
        </div>
    </div>

    <!-- Libs -->
    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
